<div class="login-container">

    <div class="row g-0">

        <!-- Login Form Column -->
        <div class="col-md-6 login-form-col">

            <div class="login-card">
                <ngb-alert  *ngIf="showAlert" [type]="alertType" (closed)="showAlert = false" class="alert-custom">{{message}}</ngb-alert>

                                <div class="login-header">
                    <h1 class="login-title">{{'WELCOME' | translate}}</h1>
                    <p class="login-subtitle">{{'LOGIN.enter.cred' | translate}}</p>
                </div>

                <form [formGroup]="logInForm" class="login-form">
                    <div class="form-group">
                        <label for="username" class="form-label">{{'LOGIN.username' | translate}}</label>
                        <input type="text" id="username" class="form-control" 
                               placeholder="Enter your username" formControlName="username">
                        <div class="validation-error">
                           <span *ngIf="logInForm.get('username')?.touched || logInForm.get('username')?.dirty">
                             <span *ngIf="logInForm.get('username')?.errors?.['required']">{{'LOGIN.enter.user.name' | translate}}</span>
                           </span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="password" class="form-label">{{'LOGIN.password' | translate}}</label>
                        <input type="password" id="password" class="form-control" 
                               placeholder="Enter your password" formControlName="password">
                        <div class="validation-error">
                            <span *ngIf="logInForm.get('password')?.touched || logInForm.get('password')?.dirty">
                              <span *ngIf="logInForm.get('password')?.errors?.['required']">{{'LOGIN.enter.password' | translate}}</span>
                            </span>
                        </div>
                    </div>
                    
                    <button type="submit" class="login-btn" (click)="logIn()">{{'LOGIN.log.in' | translate}}</button>
                    
                    <div class="login-footer">
                        <a [routerLink]="['/common/forgot-password']" class="forgot-password">{{'LOGIN.forgot.password' | translate}}</a>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Image Column -->
        <div class="col-md-6 login-image-col">
            <div class="image-container">
                <img src="https://it.cornell.edu/sites/default/files/styles/article_banner/public/itc-drupal10-images/secureconnect.png?h=76c528b5&itok=cQtPhBZV" 
                     alt="Login Image" class="login-image">
            </div>
        </div>
    </div>
</div>