.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.controls {
  margin-bottom: 15px;
}

input {
  padding: 8px;
  margin-right: 10px;
  width: 200px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}
.product-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.tabs{
margin-left: 1px;
}
.quantity-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

