<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
    <ngb-alert *ngIf="showAlert" [type]="alertType" (closed)="!showAlert">{{message}}</ngb-alert>

      <h2 class="text-center mb-3">Forgot Password</h2>
      <form [formGroup]="forgotPasswordForm" >
          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" formControlName="email" required placeholder="Enter your email">
              <span class="text-danger" *ngIf="forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty">
              <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Please enter email</span>
              </span>
          </div>
          <button type="submit" class="btn btn-primary w-100" (click)="sendEmail()">Send Reset Link</button>
      </form>
      <p *ngIf="message" class="text-success mt-3 text-center">{{ message }}</p>
  </div>
</div>

  